<a href="https://colab.research.google.com/github/BibienEwe/Formation-Data-Python-D-Clic/blob/main/Introduction_Python_D%C3%A9butant_Partie2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 <p><font size="6"><b>INTRODUCTION A PYTHON -- NIVEAU DEBUTANT 2eme Partie</b></font></p>
D-CLIC Septembre 2025

Dans ce notebook préparé nous allons découvrir les librairies et la manipulation des données avec le langage Python ainsi que des transformations basiques de données

In [ ]:
# Importation des librairies

import pandas as pd # pour la manipulation des données en dataframe
import numpy as np  # pour les opérations arithmétiques sur les données
import matplotlib.pyplot as plt # pour la visualisation des données

In [ ]:
# Confirgurons Python de telle sorte que toutes les données de notre dataframe soient affichés

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

# Pivoter les données


Il s'agit ici de réorganiser les données d'une forme longue en une forme large ou de transformer les lignes en colonnes ou vice versa, exactement comme la fonction pivoter les données dans Excel.

In [ ]:
# Créons un exemple de dataframe

df = pd.DataFrame({'Mois': ["Janvier", "Janvier", "Janvier", "Janvier",
                                  "Fevrier", "Fevrier", "Fevrier", "Fevrier",
                                  "Mars", "Mars", "Mars", "Mars"],
                   'Categorie': ["Transport", "Courses", "Maison", "plaisir",
                                "Transport", "Courses", "Maison", "Plaisir",
                                "Transport", "Courses", "Maison", "Plaisir"],
                   'Montant': [78., 215., 175., 120., 115., 240., 325., 125., 90., 260., 270., 120.]})

In [ ]:
# affichons le type de df
type(df)

pandas.core.frame.DataFrame

In [ ]:
df

       Mois  Categorie  Montant
0   Janvier  Transport     78.0
1   Janvier    Courses    215.0
2   Janvier     Maison    175.0
3   Janvier    plaisir    120.0
4   Fevrier  Transport    115.0
5   Fevrier    Courses    240.0
6   Fevrier     Maison    325.0
7   Fevrier    Plaisir    125.0
8      Mars  Transport     90.0
9      Mars    Courses    260.0
10     Mars     Maison    270.0
11     Mars    Plaisir    120.0

In [ ]:
# nous pouvons faire la somme des colonnes numériques

df['Montant'].sum(axis = 0)

np.float64(2133.0)

In [ ]:
df

       Mois  Categorie  Montant
0   Janvier  Transport     78.0
1   Janvier    Courses    215.0
2   Janvier     Maison    175.0
3   Janvier    plaisir    120.0
4   Fevrier  Transport    115.0
5   Fevrier    Courses    240.0
6   Fevrier     Maison    325.0
7   Fevrier    Plaisir    125.0
8      Mars  Transport     90.0
9      Mars    Courses    260.0
10     Mars     Maison    270.0
11     Mars    Plaisir    120.0

In [ ]:
# pivotons notre dataframe
df_pivot = df.pivot(index="Mois", columns="Categorie", values="Montant")
df_pivot

Categorie  Courses  Maison  Plaisir  Transport  plaisir
Mois
Fevrier      240.0   325.0    125.0      115.0      NaN
Janvier      215.0   175.0      NaN       78.0    120.0
Mars         260.0   270.0    120.0       90.0      NaN

In [ ]:
#Nous pouvons calculer les sommes des valeurs par ligne ou par colonne
# la valeur de l'axe des lignes est 0 et celles des colonne est 1

#sommes par lignes
df_pivot.sum(axis=0)

Categorie
Courses      715.0
Maison       770.0
Plaisir      245.0
Transport    283.0
plaisir      120.0
dtype: float64

In [ ]:
# sommes par colonnes
df_pivot.sum(axis=1)

Mois
Fevrier    805.0
Janvier    588.0
Mars       740.0
dtype: float64

#### Pivoter c'est essentiellement ordonner les donner sous la forme désirée

Exemple avec les données des passagers du titanic que nous utiliserons plus tard dans le cours

In [ ]:
# Sample dataset

titanic = pd.DataFrame({'Fare': [7.25, 71.2833, 51.8625, 30.0708, 7.8542, 13.0],
                   'Pclass': [3, 1, 1, 2, 3, 2],
                   'Sex': ['male', 'female', 'male', 'female', 'female', 'male'],
                   'Survived': [0, 1, 0, 1, 0, 1]})

In [ ]:
titanic

      Fare  Pclass     Sex  Survived
0   7.2500       3    male         0
1  71.2833       1  female         1
2  51.8625       1    male         0
3  30.0708       2  female         1
4   7.8542       3  female         0
5  13.0000       2    male         1

In [ ]:
titanic.pivot(index='Pclass', columns='Sex', values='Fare')

Sex      female     male
Pclass
1       71.2833  51.8625
2       30.0708  13.0000
3        7.8542   7.2500

Ce code titanic_pivot utilise la fonction pivot de pandas pour réorganiser le DataFrame titanic. Il prend les valeurs de la colonne Pclass et les utilise comme index (les lignes) du nouveau DataFrame. La colonne Sex est utilisée pour créer les nouvelles colonnes, et les valeurs de la colonne Fare remplissent les cellules du tableau croisé dynamique. En d'autres termes, il affiche le tarif (Fare) moyen ou le premier tarif rencontré pour chaque combinaison de classe de passager (Pclass) et de sexe (Sex).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [ ]:
titanic.pivot(index='Pclass', columns='Sex', values='Survived')

Sex     female  male
Pclass
1            1     0
2            1     1
3            0     0

Nous pouvons maintenant utiliser tout le jeu de données de Titanic

In [ ]:
#Titanic dataset
from google.colab import files
uploaded=files.upload()

Saving titanic.csv to titanic.csv

In [ ]:
df=pd.read_csv('titanic.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.shape

(891, 12)

In [ ]:
# sélectionnons une vue du DataFrame contenant uniquement les lignes 1 et 3,
# et les colonnes "Sex", "Pclass", et "Fare".

df.loc[[1, 3], ["Sex", 'Pclass', 'Fare']]

      Sex  Pclass     Fare
1  female       1  71.2833
3  female       1  53.1000

In [ ]:
#Affichons une vue du DataFrame contenant uniquement les lignes 10 et 20 (9 et 19),
#et les colonnes "PassengerId", "Name", et ""Age".
df.loc[[9, 19], ["PassengerId", "Name", "Age"]]

    PassengerId                                 Name   Age
9            10  Nasser, Mrs. Nicholas (Adele Achem)  14.0
19           20              Masselmani, Mrs. Fatima   NaN

# Nous pouvons aggreger les données en pivotant

In [ ]:
df = pd.read_csv("titanic.csv")

In [ ]:
# ici nous aggregeons le données en lignes par genre et en colonne par classe des passagers
# les valeur des tickets sont également aggrégées selons les combinaisons de ligne et de colonnes
df.pivot_table(index='Sex', columns='Pclass', values='Fare')

Pclass           1          2          3
Sex
female  106.125798  21.970121  16.118810
male     67.226127  19.741782  12.661633

<div class="alert alert-info">

<b>RAPPEL</b>:

 <ul>
  <li>Par defaut, "pivot_table" prend la  <b>moyenne</b> de toutes les valeurs regroupées dans une cellule. Vous pouvez toutefois spécifier la fonction d'aggrégation que vous voulez utiliser avec les mot clé <b>aggfunc</b>.</li>
</ul>
</div>

In [ ]:
# Exemple : pivoter en prenant la valeur maximale des prix des tickets pour chaque cellule (max ici est AVERAGE).

df.pivot_table(index='Sex', columns='Pclass',
               values='Fare', aggfunc='max')

Pclass         1     2      3
Sex
female  512.3292  65.0  69.55
male    512.3292  73.5  69.55

In [ ]:
# pivoter en prenant la valeur minimale des prix des tickets pour chaque cellule
df.pivot_table(index='Sex', columns='Pclass',
               values='Fare', aggfunc='min')

Pclass        1     2     3
Sex
female  25.9292  10.5  6.75
male     0.0000   0.0  0.00

In [ ]:
# pivoter en comptant le nombre des prix des tickets pour chaque cellule
df.pivot_table(index='Sex', columns='Pclass',
               values='Fare', aggfunc='count')

Pclass    1    2    3
Sex
female   94   76  144
male    122  108  347

<div class="alert alert-info">

<b>RAPPEL</b>:

 <ul>
  <li>il y a une fonction raccourci pour <b>pivot_table</b> avec `aggfunc=count` comme fonction c'est : <b>crosstab</b>
  </li>
</ul>
</div>

In [ ]:
# exemple
pd.crosstab(index=df['Sex'], columns=df['Pclass'])

Pclass    1    2    3
Sex
female   94   76  144
male    122  108  347

# La fonction Melt
C'est l'inverse de la fonction pivoter, il permet d'allonger une table de données compacte.

In [ ]:
# exemple créons un dataframe qui montre la moyenne des prix des tickets par classe et par sexe
# nous ne voulons pas de nom de colonnes
pivoted = df.pivot_table(index='Sex', columns='Pclass', values='Fare').reset_index()
pivoted.columns.name = None

In [ ]:
#notre dataset se présente ainsi
pivoted

      Sex           1          2          3
0  female  106.125798  21.970121  16.118810
1    male   67.226127  19.741782  12.661633


Pour avoir toutes les observations dans une seule colonne, nous pouvons utiliser la fonctions <b>melt</b>

In [ ]:
pd.melt(pivoted)

  variable       value
0      Sex      female
1      Sex        male
2        1  106.125798
3        1   67.226127
4        2   21.970121
5        2   19.741782
6        3    16.11881
7        3   12.661633


Même si la transformation a été faite avec toutes les catégories dans une colonne et les valeurs dans une autre colonne, ce n'est pas exactement ce que nous voulons.Il serait préférable d'avoir la colonne <b>sex</b> séparée.

In [ ]:
# pour se faire nous allons inclure des arguments dans la fonction
pd.melt(pivoted, id_vars=['Sex']) #, var_name='Pclass', value_name='Fare')

      Sex variable       value
0  female        1  106.125798
1    male        1   67.226127
2  female        2   21.970121
3    male        2   19.741782
4  female        3   16.118810
5    male        3   12.661633

# Modifier la forme des données avec `stack` et `unstack`

Pour utiliser `stack`/`unstack`, nous avons besoin que la valeur que nous voulons changer des lignes en colonnes ou dans l'autre sens soit l'index:

In [ ]:
# Exemple de données

df = pd.DataFrame({'A':['one', 'one', 'two', 'two'],
                   'B':['a', 'b', 'a', 'b'],
                   'C':range(4)})
df

     A  B  C
0  one  a  0
1  one  b  1
2  two  a  2
3  two  b  3

In [48]:
df = df.set_index(['A', 'B']) # nous pouvons combiner dex index
df

       C
A   B
one a  0
    b  1
two a  2
    b  3

In [49]:
result = df['C'].unstack()
result

B    a  b
A
one  0  1
two  2  3

In [50]:
df = result.stack().reset_index(name='C')
df

     A  B  C
0  one  a  0
1  one  b  1
2  two  a  2
3  two  b  3

<div class="alert alert-info">

<b>RAPPEL</b>:

 <ul>
  <li>**stack**: rend les données plus  <b>longues</b> et <b>compactes</b> </li>
  <li>**unstack**: rend les données plus <b>courtes</b> et  <b>larges</b> </li>
</ul>
</div>

## Imitation des tableaux croisés dynamique d'Excel


Pour mieux comprendre et raisonner sur les tableaux croisés dynamiques, nous pouvons exprimer cette méthode comme une combinaison d'étapes plus basiques. En bref, le pivot est un moyen pratique d'exprimer la combinaison d'un « groupby » et d'un « stack/unstack ».

In [51]:
df = pd.read_csv("titanic.csv")

In [52]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [53]:
df.pivot_table(index='Pclass', columns='Sex',
               values='Survived', aggfunc='mean')

Sex       female      male
Pclass
1       0.968085  0.368852
2       0.921053  0.157407
3       0.500000  0.135447

## Imitation de la fonction "dépivoter" d'Excel


Comme avec le tableau croisé dynamique plus haut nous pouvons avoir le résultat de `melt` avec stack/unstack

on peut utiliser le même dataframe comme plus haut et observer le résultat

In [54]:
pivoted = df.pivot_table(index='Sex', columns='Pclass', values='Fare').reset_index()
pivoted.columns.name = None
pivoted

      Sex           1          2          3
0  female  106.125798  21.970121  16.118810
1    male   67.226127  19.741782  12.661633

In [55]:
pd.melt(pivoted, id_vars=['Sex'], var_name='Pclass', value_name='Fare')

      Sex Pclass        Fare
0  female      1  106.125798
1    male      1   67.226127
2  female      2   21.970121
3    male      2   19.741782
4  female      3   16.118810
5    male      3   12.661633

Ce notebook a été créé par Kedji Kudjo Sename - Tel 90151369 email : skksean28@gmail.com

# FIN